
@media screen and (max-width: 415px) {

#containerhem {

    display: grid;

    grid-template-areas:
    'na' 
    'ma'
    'he'
    'a1'
    'a2'
    'a3'
    'a4'
    'ft';

    height: 200vh;
    width: 100vw;
    grid-template-rows: 0.5fr 3fr 0.5fr 3fr 3fr 3fr 3fr 0.5fr;
    grid-template-columns: 1fr;
    grid-gap: 1px;
  

}


    font-size: 18px;
}


}

.menu{
    height: 40vh;
    width: 30vw;
    background: grey;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    
}

.show{
    left: 0;

}
/* 🡣 animation 🡣 */ 

.ma {
    grid-area: ma;
    display: grid;
    position: relative;
    background-image: url("../img/clouds2.jpg");
    background-size: auto 100%;
    
}
.ma div {
    background-image: url("../img/aeroplane1280.png");
    background-repeat: no-repeat;
    background-size: 95% auto;
    background-position: -100vw 0;
    animation: flygplan 4s infinite linear, flygplan2 0.5s infinite linear alternate;
}

@keyframes flygplan {
    0% {background-position-x: -100vw;}
    100% {background-position-x: 100vw;}
}
@keyframes flygplan2 {
    0% {background-position-y: 5vw;}
    100% {background-position-y: -1vw;}
}

#bars {
    height: 5vh;
    width: auto;
    cursor: pointer;
    margin: 12px;
    width: 27px;
    height: auto;
    cursor: pointer;
}

#containerflik1 {
   
    display: grid;

    grid-template-areas:
    'na' 
    'ma'
    'he'
    'a1'
    'ft';

    height: 130vh;
    width: 100vw;
    grid-template-rows: 0.5fr 4fr 1fr 6fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1px;

}

#containerflik2 {
   
    display: grid;

    grid-template-areas:
    'na' 
    'ma'
    'he'
    'a1'
    'ft';

    height: 120vh;
    width: 100vw;
    grid-template-rows: 0.5fr 3fr 1fr 6fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1px;

}

#containerflik3 {
   
    display: grid;

    grid-template-areas:
    'na' 
    'ma'
    'he'
    'a1'
    'ft';

    height: 120vh;
    width: 100vw;
    grid-template-rows: 0.5fr 4fr 1fr 6fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1px;

}

#containerflik4 {
   
    display: grid;

    grid-template-areas:
    'na' 
    'ma'
    'he'
    'a1'
    'ft';

    height: 120vh;
    width: 100vw;
    grid-template-rows: 0.5fr 4fr 1fr 6fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1px;

}

.ma4 {
    grid-area: ma;
    display: grid;
    background-image: url("../img/funfacts.png");
    background-repeat: no-repeat;
    background-size: 65% auto;
    background-position: 60% 50%;

}

@media screen and (min-width: 950px) {



    #containerhem {
    
        display: grid;
    
        grid-template-areas:
        'na na na na' 
        'ma ma ma ma'
        'he he he he'
        'a1 a2 a3 a4'
        'ft ft ft ft';
    
        height: 100vh;
        width: 100vw;
        grid-template-rows: 1fr 3fr 1fr 3fr 0.5fr;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1px;
      
        }

        #containerflik1 {
   
            display: grid;
        
            grid-template-areas:
            'na' 
            'ma'
            'he'
            'a1'
            'ft';
        
            height: 130vh;
            width: 100vw;
            grid-template-rows: 0.5fr 17fr 1fr 6fr 1fr;
            grid-template-columns: 1fr;
            grid-gap: 1px;
        
        }

        
        #containerflik2 {
        
            display: grid;

            grid-template-areas:
            'na' 
            'ma'
            'he'
            'a1'
            'ft';

            height: 130vh;
            width: 100vw;
            grid-template-rows: 0.5fr 30fr 1fr 6fr 1fr;
            grid-template-columns: 1fr;
            grid-gap: 1px;
        }

        #containerflik3 {
   
          display: grid;

            grid-template-areas:
            'na' 
            'ma'
            'he'
            'a1'
            'ft';

            height: 120vh;
            width: 100vw;
            grid-template-rows: 0.5fr 20fr 1fr 6fr 1fr;
            grid-template-columns: 1fr;
            grid-gap: 1px;

        }

        #containerflik4 {
   
        display: grid;

        grid-template-areas:
        'na' 
        'ma'
        'he'
        'a1'
        'ft';

        height: 120vh;
        width: 100vw;
        grid-template-rows: 0.5fr 20fr 1fr 6fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 1px;

        }

        .ma4 {
            grid-area: ma;
            display: grid;
            background-image: url("../img/funfacts.png");
            background-repeat: no-repeat;
            background-size: 30% auto;
            background-position: 54% 50%;
        
        }

        .ma {
            grid-area: ma;
            display: grid;
            position: relative;
            background-image: url("../img/clouds2.jpg");
            background-size: auto 430%;
        
        }
        .ma div {
            background-image: url("../img/aeroplane1280.png");
            background-repeat: no-repeat;
            background-size: 23% auto;
            background-position: -100vw 0;
            animation: flygplan 8s infinite linear, flygplan2 0.5s infinite linear alternate;
        }
        
        @keyframes flygplan {
            0% {background-position-x: -50vw;}
            100% {background-position-x: 100vw;}
        }
        @keyframes flygplan2 {
            0% {background-position-y: 2vw;}
            100% {background-position-y: 1vw;}
        }



        .show{
            left: 50%;
            transform: translateX(-50%) translateY(50%);
        }
        
        #bars {
            height: 5vh;
            width: auto;
            cursor: pointer;
            margin: 12px;
            width: 40px;
            height: auto;
            cursor: pointer;
        }

 }



 



 


 /* 🡣 allmänt 🡣 */  
 


body {
margin: 0;
}






body,ul{
    margin: 0;
}


.menu article {
    width: 100%;
    height: 100px;
    background-color: rgb(236, 236, 236);
    display: flex;
    margin-top: 2px;
    cursor: pointer;
}

.menu article h2 {
    margin: auto;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}


.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}






#fo {
    margin: 1px;
    color: white;

}
.icons {
    display: flex;
    flex-direction: row;
    margin: 5px;
    filter: invert(9)

}
#insta {
    width: 40px;
}

#faceb {
    width: 40px;
}

#twitter {
    width: 40px;
}




#lg {
   width: 30vw;
}

.rubrik {
    margin: 10px;
}

.na {
    grid-area: na;
    display: grid;
    display: flex;
    justify-content: space-between;
    
}


.he {
    grid-area: he;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 0;
}

.ft {
    grid-area: ft;
    display: grid;
    background-image: url("../img/airplaneFT.jpg");
    background-size: 100% auto;
    background-position: 100% -40%;
    position: relative;

}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    z-index: 1;
}
/* 🡣 article 1-4 🡣 */
.a1 {
    grid-area: a1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/am.jpg");
    padding: 15px;
    
    
}
.a2 {
    grid-area: a2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../img/hiclipart.png");
    background-size: 100% 90%;
    background-repeat: no-repeat;

   
}
.a3 {
    grid-area: a3;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/crasch.jpg");
    background-size: 100% 100%;
    padding: 19px;
   
}
.a4 {
    grid-area: a4;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url("../img/funfacts.png");
    background-position: 73% 56%;
    background-size: 76% auto;
    background-repeat: no-repeat;
}



/* 🡣 article text 1-4 🡣 */

.a13text {
    color: white;
    margin: 4px;
    z-index: 2;



}
.a24text {
    color: black;
    margin: 0;
}




/* 🡣 article buttons 1-4 🡣 */

.buttona1 {
    background-color: #5DBCD2; 
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    width: 110px;
    height: 50px;
    z-index: 2;
    margin: 10px;
    cursor: pointer;

}

.buttona2 {
    background-color: black; 
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    width: 90px;
    height: 40px;
    margin: 3px 0 20px 0;

}

.buttona3 {
    background-color: #5DBCD2; 
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    width: 110px;
    height: 50px;
    z-index: 2;
    margin: 10px;

}

.buttona4 {
    background-color: black; 
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    width: 90px;
    height: 40px;
    margin: 0px 0 15px 0;

}


 /* flik1 */
 .ma1 {
    grid-area: ma;
    display: grid;
    background-image: url("../img/am.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;

 }

 #flik1a {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 100% auto;

 }

/* flik main */
.ma2 {
    grid-area: ma;
    display: grid;
    background-image: url("../img/hiclipart.png");
    background-repeat: no-repeat;
    background-size: 100% auto;

}
.ma3 {
    grid-area: ma;
    display: grid;
    background-image: url("../img/crasch.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;

}







.textflik {
    margin: 11px;
}

.h3flik {
    font-size: 15px;
    margin: 11px;
}
