#container {

    display: grid;

    grid-template-areas:
    'na na na na' 
    'hd hd hd hd'
    'a1 a2 a3 a4'
    'ft ft ft ft';

    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 2fr 3fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;

    }

.na {
    grid-area: na;
    display: grid;
    background-color: aqua;
}

.hd {
    grid-area: hd;
    display: grid;
    background-color: burlywood;
}

.a1 {
    grid-area: a1;
    display: grid;
    background-color: rgb(33, 87, 87);
}
.a2 {
    grid-area: a2;
    display: grid;
    background-color: rgb(7, 83, 83);
}
.a3 {
    grid-area: a3;
    display: grid;
    background-color: blue;
}
.a4 {
    grid-area: a4;
    display: grid;
    background-color: green;
}

.ft {
    grid-area: ft;
    display: grid;
    background-color: yellowgreen;

}